.modal {
    position:fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.441);
    width:100%;
    height:100%;
    top:0;
    

}

.popup{
    position:fixed;
    display:flex;
    z-index: 101;
    height:500px;
    width:50%;
    left:25%;
    right:25%;
    top:100px;
    background-color: white;
    justify-content: space-between;
    font-style: italic;
}

.imag {
    position:relative;
    width:45%;
    height:80%;
    margin: 5% 2%;
}

.rightPart{
    position: relative;
    display:flex;
    flex-direction: column;
    width:50%;
    font-style: italic;
}

.rightPart .bt1{
    position:relative;
    margin-right: 20px;
    margin-top:20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.436);
    font-size: 1rem;
    height:5%;
    padding: 0px;
    border: 0px;
    width:0%;
    align-self: flex-end;

}
.rightPart h1 {
    position: relative;
    font-size:1.3rem;
    
}

.rightPart h2 {
    position:relative;
    font-size:1.2rem;
    height:5%;
    color:rgba(0, 0, 0, 0.436);
} 

.rightPart p {
    position:relative;
    font-size:0.8rem;
    color:rgba(0, 0, 0, 0.436);
    margin-right:15px;

}

.rightPart .bt2 {
    color:white;
    background-color:rgb(15, 15, 15);
    width:50%;
    font-size: 1rem;

}