.products  {
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content:flex-start ;
    margin-left: 20%;
    margin-right: 20%;
    width:60%;
}

.row1 {
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    font-style: italic;
    margin: 20px 0px;
}
.row1 p {
    font-size:0.9rem;
    color: rgba(0, 0, 0, 0.242);
    font-weight: 700;
    margin: 0px;
}

.row1 h2 {
    font-size:1.3rem;
    font-weight: 600;
    margin: 0px;
}
.row2 {
    position: relative;
    display:flex;
    justify-content: space-between;
    font-style: italic;
    flex-wrap: wrap;
    width:100%;
    margin-bottom: 20px;
}

.product {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:23%;
    margin: 1%;
    height: fit-content;
}

.imag {
    position: relative;
    width:100%;
    min-height:80%;
}

.name {
    position: relative;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 600;
}

.price {
    position:relative;
    color: rgba(0, 0, 0, 0.414);
    font-size: 1rem;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -10px;
}

.overlay{
    position: absolute;
    right:0;
    width:100%;
    z-index: 10;
    background-color: none;
    height:80%;
    transition:0.3s;
    margin: 1%;
}

.overlay:hover{
    background-color: rgba(255, 255, 255, 0.307);
}