.detail {
    font-style: italic;
    position:relative;
    display:flex;
    flex-direction: column;
    margin-left:20%;
    margin-right:20%;
    margin-top: 40px;
    width:60%;
}

.part1, .part2,.part3{
    position:relative;
    display:flex;
    width:100%;
}

.part1{
    position:relative;
    display:flex;
    justify-content: space-between;
    height:400px;

}

.column1{
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:10%;
}

.imag1{
    width:100%;
    height:22%;


}

.column2{
    position:relative;
    width:40%;
    height:100%;
}

.imag2{
    width:100%;
    height:95%;
    margin:5px;

}

.column3{
    width:50%;
    height:100%;

    margin-left:30px;
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.column3 .name{
    position: relative;
    font-weight: 400;
    font-size:1.8rem;
    flex:15;
}

.column3 .price{
    position: relative;
    font-size:1.4rem;
    color: rgba(0, 0, 0, 0.405);
    flex:10;
   
}
.column3 .info {
    position: relative;
    font-size:1rem;
    color: rgba(0, 0, 0, 0.405);
    flex:55;
    overflow:hidden;
}
.column3 .category{
    flex:10;
    font-size: 1rem;
}
.column3 .category .tt{
    color:black;
    font-weight: 400;
}
.column3 .category .categoryName{
    color: rgba(0, 0, 0, 0.405);
    font-size: 0.9rem;
}
.column3 .addCart{
    position:relative;
    display:flex;
    justify-content:flex-start ;
    flex:10;
    font-size: 1rem;
    
}
.column3 .addCart i {
    cursor:pointer;
}
.addCart input, .addCart button{
    position:relative
}
.addCart input{
    min-width: 150px;
    width:40%;
    font-style: italic;

}
.addCart button{
    min-width: 150px;
    width:20%;
    color:white;
    background-color: rgb(53,53,53);
    border: 1px solid rgb(53,53,53);
    font-style: italic;
}
.addCart button:hover{
    background-color: rgb(20, 19, 19);
    border: 1px solid rgb(20, 19, 19);

}
.addCart span {
    position:absolute;
    left:25%;
    top:4px;
    font-style:normal;
}

.part2{
    margin-top: 50px;
    flex-direction: column;
    
}

.part2 button{
    font-size: 1rem;
    font-style: italic;
    width:15%;
    min-width: fit-content;
    color:white;
    background-color: rgb(53,53,53);
    border: 1px solid rgb(53,53,53);
    height: 50px;
}
.part2 h1{
    margin-top: 15px;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.part2 p{
    margin:0px;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.405);
    white-space: pre-line;
    line-height: 25px;
    margin-top: 15px;
}

.part3{
    margin-top:40px;
    flex-direction: column;
    width:100%;
}
.part3 .relatedProducts {
    position:relative;
    display: flex;
    flex-wrap: wrap;
}
.part3 .relatedProduct{
    position:relative;
    display:flex;
    width:25%;
    flex-direction: column;
}
.part3 h1{
    font-size:1.5rem;
}

.imag3 {
    position:relative;
    height:250px;
    width:100%;
}

.part3 h2 {
    position: relative;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 600;
}

.part3 p {
    position:relative;
    color: rgba(0, 0, 0, 0.414);
    font-size: 1rem;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -10px;
}