.signin{
    display:flex;
    position:relative;
    background-image: url('../../Resource/banner1.jpg');
    background-size:auto;
    background-repeat: repeat;
    width:100%;
    margin: 0%;
}

.form{
    position: relative;
    display:flex;
    margin: 70px 32%;
    background-color:white;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 0px 15px  rgb(184, 182, 182);
    align-items: center;
    width: 36%;
}

.form h1{
    margin-top: 30px;
    color:rgb(118, 114, 114);
    font-weight: 300;
    font-style: italic;
}

.form .control {
    position:relative;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 80%;

}
.form .control input{
    height:80px;
    padding-left: 20px;
}

.form .bt{
    margin-top: 30px;
    width: 80%;
    background-color: rgb(53,53,53);
    color:white;
    height:80px;
}

.form .last {
    margin: 40px;
    position:relative;
    display:flex;
    
}
.last p, .last button{
    margin: 0px 5px;
    font-style: italic;
}

.last p {
    color:rgb(118, 114, 114);
}

.last button{
    background-color: white;
    border: none;
    color:rgb(125, 125, 251);
}
.last button:hover{
    color:rgb(76, 76, 203);
}

.form h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.form h3 {
    margin-bottom: 30px;
}
.invalidText {
    font-size: 1rem;
    color:red;   
}